@import '../../main';

@mixin demo-make-swatch($palette, $category, $type) {
	.demo-swatch-#{$palette}-#{$category}-#{$type} {
		&::after {
			display: block;
			content: ' ';
			width: 46px;
			height: 46px;
			margin-left: 2px;
			margin-top: 2px;
			background-color: o-colors-get-color($palette, $category, $type);
		}
	}
}

.demo-swatch {
	display: block;
	width: 50px;
	height: 50px;
	border: dashed 1px #cccccc;
}

@each $palette-name, $palette in $o-colors-palettes {
	@each $category-name, $category in $palette {
		@each $type-name in map-keys($category) {
			@include demo-make-swatch($palette-name, $category-name, $type-name);
		}
	}
}
