<ul class="swatches">
	<li class="swatch o-colors-gray-5">$o-colors-gray-5</li>
	<li class="swatch o-colors-gray-10">$o-colors-gray-10</li>
	<li class="swatch o-colors-gray-20">$o-colors-gray-20</li>
	<li class="swatch o-colors-gray-30">$o-colors-gray-30</li>
	<li class="swatch o-colors-gray-40">o-colors-gray-40</li>
	<li class="swatch o-colors-gray-50">$o-colors-gray-50</li>
	<li class="swatch o-colors-gray-60">$o-colors-gray-60</li>
	<li class="swatch o-colors-gray-70">$o-colors-gray-70</li>
	<li class="swatch o-colors-gray-80">$o-colors-gray-80</li>
	<li class="swatch o-colors-gray-90">$o-colors-gray-90</li>
	<li class="swatch o-colors-bg">$o-colors-bg</li>
	<li class="swatch o-colors-cntntBg">$o-colors-cntntBg</li>
	<li class="swatch o-colors-txt">$o-colors-txt</li>
	<li class="swatch o-colors-color-error">$o-colors-color-error</li>
	<li class="swatch o-colors-color-confirmation">$o-colors-color-confirmation</li>
	<li class="swatch o-colors-color-highlight-yellow">$o-colors-color-highlight-yellow</li>
	<li class="swatch o-colors-color-highlight-pink">$o-colors-color-highlight-pink</li>
	<li class="swatch o-colors-color-highlight-green">$o-colors-color-highlight-green</li>
	<li class="swatch o-colors-color-highlight-blue">$o-colors-color-highlight-blue</li>
	<li class="swatch o-colors-links">$o-colors-links</li>
	<li class="swatch o-colors-table-head">$o-colors-table-head</li>
	<li class="swatch o-colors-table-border">$o-colors-table-border</li>
	<li class="swatch o-colors-table-head-sortable-light">$o-colors-table-head-sortable-light</li>
	<li class="swatch o-colors-table-head-sortable-dark">$o-colors-table-head-sortable-dark</li>
	<li class="swatch o-colors-table-head-sorted">$o-colors-table-head-sorted</li>
	<li class="swatch o-colors-table-column-sorted">$o-colors-table-column-sorted</li>
	<li class="swatch o-colors-table-row-selected">$o-colors-table-row-selected</li>
	<li class="swatch o-colors-table-row-selected-border">$o-colors-table-row-selected-border</li>
	<li class="swatch o-colors-table-column-sorted-and-row-selected">$o-colors-table-column-sorted-and-row-selected</li>
	<li class="swatch o-colors-table-row-odd">$o-colors-table-row-odd</li>
	<li class="swatch o-colors-table-row-even">$o-colors-table-row-even</li>
	<li class="swatch o-colors-table-border">$o-colors-table-border</li>
	<li class="swatch o-colors-table-row-hover">$o-colors-table-row-hover</li>
	<li class="swatch o-colors-table-row-expanded">$o-colors-table-row-expanded</li>
	<li class="swatch o-colors-table-row-selected">$o-colors-table-row-selected</li>
	<li class="swatch o-colors-cntntBrdr">$o-colors-cntntBrdr</li>
	<li class="swatch o-colors-fa-icon-color">$o-colors-fa-icon-color</li>
	<li class="swatch o-colors-app-header-background">$o-colors-app-header-background</li>
	<li class="swatch o-colors-app-header-bottom-line">$o-colors-app-header-bottom-line</li>
	<li class="swatch o-colors-nav-bg">$o-colors-nav-bg</li>
	<li class="swatch o-colors-nav-brdr">$o-colors-nav-brdr</li>
	<li class="swatch o-colors-sec-bg">$o-colors-sec-bg</li>
	<li class="swatch o-colors-sec-brdr">$o-colors-sec-brdr</li>
	<li class="swatch o-colors-sec-hd-bg">$o-colors-sec-hd-bg</li>
	<li class="swatch o-colors-sec-title">$o-colors-sec-title</li>
	<li class="swatch o-colors-orange">$o-colors-orange</li>
	<li class="swatch o-colors-green">$o-colors-green</li>
	<li class="swatch o-colors-red">$o-colors-red</li>
	<li class="swatch o-colors-alertRed">$o-colors-alertRed</li>
	<li class="swatch o-colors-homeBlue">$o-colors-homeBlue</li>
	<li class="swatch o-colors-blue">$o-colors-blue</li>
	<li class="swatch o-colors-lightBlue">$o-colors-lightBlue</li>
	<li class="swatch o-colors-pink">$o-colors-pink</li>
	<li class="swatch o-colors-purple">$o-colors-purple</li>
	<li class="swatch o-colors-btn-text">$o-colors-btn-text</li>
	<li class="swatch o-colors-btn-text-shadow">$o-colors-btn-text-shadow</li>
	<li class="swatch o-colors-btn-border">$o-colors-btn-border</li>
	<li class="swatch o-colors-btn-light">$o-colors-btn-light</li>
	<li class="swatch o-colors-btn-dark">$o-colors-btn-dark</li>
	<li class="swatch o-colors-btn-active">$o-colors-btn-active</li>
	<li class="swatch o-colors-btn-primary-text">$o-colors-btn-primary-text</li>
	<li class="swatch o-colors-btn-primary-text-shadow">$o-colors-btn-primary-text-shadow</li>
	<li class="swatch o-colors-btn-primary-border">$o-colors-btn-primary-border</li>
	<li class="swatch o-colors-btn-primary-light">$o-colors-btn-primary-light</li>
	<li class="swatch o-colors-btn-primary-dark">$o-colors-btn-primary-dark</li>
	<li class="swatch o-colors-btn-primary-active">$o-colors-btn-primary-active</li>
	<li class="swatch o-colors-btn-info-text">$o-colors-btn-info-text</li>
	<li class="swatch o-colors-btn-info-text-shadow">$o-colors-btn-info-text-shadow</li>
	<li class="swatch o-colors-btn-info-border">$o-colors-btn-info-border</li>
	<li class="swatch o-colors-btn-info-light">$o-colors-btn-info-light</li>
	<li class="swatch o-colors-btn-info-dark">$o-colors-btn-info-dark</li>
	<li class="swatch o-colors-btn-info-active">$o-colors-btn-info-active</li>
	<li class="swatch o-colors-btn-success-text">$o-colors-btn-success-text</li>
	<li class="swatch o-colors-btn-success-text-shadow">$o-colors-btn-success-text-shadow</li>
	<li class="swatch o-colors-btn-success-border">$o-colors-btn-success-border</li>
	<li class="swatch o-colors-btn-success-light">$o-colors-btn-success-light</li>
	<li class="swatch o-colors-btn-success-dark">$o-colors-btn-success-dark</li>
	<li class="swatch o-colors-btn-success-active">$o-colors-btn-success-active</li>
	<li class="swatch o-colors-btn-warning-text">$o-colors-btn-warning-text</li>
	<li class="swatch o-colors-btn-warning-text-shadow">$o-colors-btn-warning-text-shadow</li>
	<li class="swatch o-colors-btn-warning-border">$o-colors-btn-warning-border</li>
	<li class="swatch o-colors-btn-warning-light">$o-colors-btn-warning-light</li>
	<li class="swatch o-colors-btn-warning-dark">$o-colors-btn-warning-dark</li>
	<li class="swatch o-colors-btn-warning-active">$o-colors-btn-warning-active</li>
	<li class="swatch o-colors-btn-danger-text">$o-colors-btn-danger-text</li>
	<li class="swatch o-colors-btn-danger-text-shadow">$o-colors-btn-danger-text-shadow</li>
	<li class="swatch o-colors-btn-danger-border">$o-colors-btn-danger-border</li>
	<li class="swatch o-colors-btn-danger-light">$o-colors-btn-danger-light</li>
	<li class="swatch o-colors-btn-danger-dark">$o-colors-btn-danger-dark</li>
	<li class="swatch o-colors-btn-danger-active">$o-colors-btn-danger-active</li>
	<li class="swatch o-colors-btn-inverse-text">$o-colors-btn-inverse-text</li>
	<li class="swatch o-colors-btn-inverse-text-shadow">$o-colors-btn-inverse-text-shadow</li>
	<li class="swatch o-colors-btn-inverse-border">$o-colors-btn-inverse-border</li>
	<li class="swatch o-colors-btn-inverse-light">$o-colors-btn-inverse-light</li>
	<li class="swatch o-colors-btn-inverse-dark">$o-colors-btn-inverse-dark</li>
	<li class="swatch o-colors-btn-inverse-active">$o-colors-btn-inverse-active</li>
	<li class="swatch o-colors-btn-disabled">$o-colors-btn-disabled</li>
	<li class="swatch o-colors-btn-disabled-text">$o-colors-btn-disabled-text</li>
	<li class="swatch o-colors-dropdown-list-active">$o-colors-dropdown-list-active</li>
	<li class="swatch o-colors-placeholer-text">$o-colors-placeholer-text</li>
	<li class="swatch o-colors-input-borders">$o-colors-input-borders</li>
	<li class="swatch o-colors-input-borders-focus">$o-colors-input-borders-focus</li>
	<li class="swatch o-colors-help-text">$o-colors-help-text</li>
	<li class="swatch o-colors-field-required">$o-colors-field-required</li>
	<li class="swatch o-colors-field-optional">$o-colors-field-optional</li>
	<li class="swatch o-colors-field-valid">$o-colors-field-valid</li>
</ul>
<div style="clear: both"></div>