{{#swatches}}
	<h2>{{label}}</h2>
	{{#categories}}
		<h3>{{label}}</h3>
		<table>
			<tbody>
				{{#types}}
					<tr>
						<td>{{label}}</td>
						<td><span class="demo-swatch demo-swatch-{{palette}}-{{category}}-{{type}}"></span></td>
					</tr>
				{{/types}}
			</tbody>
		</table>
	{{/categories}}
{{/swatches}}
