$o-assets-global-path: '/bower_components/';
$o-colors-is-silent: false;

@import '../../main';

html {
	font-family: Arial, sans serif
}

body {
	padding: 50px 150px;
}

// add swatches to demo colors
.swatches {
	list-style: none;
	padding: 0;
	margin: 0;
	.swatch {
		float: left;
		margin: 10px;
		padding: 25px;
		width: 200px;
		text-align: center;
		border: 1px solid $o-colors-gray-30;
		&.gray-5 {
			background: $o-colors-gray-5;
		}
		&.gray-10 {
			background: $o-colors-gray-10;
		}
		&.gray-20 {
			background: $o-colors-gray-20;
		}
		&.gray-30 {
			background: $o-colors-gray-30;
		}
		&.gray-40 {
			background: $o-colors-gray-40;
		}
		&.gray-50 {
			background: $o-colors-gray-50;
		}
		&.gray-60 {
			background: $o-colors-gray-60;
			color: #fff;
		}
		&.gray-70 {
			background: $o-colors-gray-70;
			color: #fff;
		}
		&.gray-80 {
			background: $o-colors-gray-80;
			color: #fff;
		}
		&.gray-90 {
			background: $o-colors-gray-90;
			color: #fff;
		}
		&.bg {
			background: $o-colors-bg;
		}
		&.cntntBg {
			background: $o-colors-cntntBg;
		}
		&.txt {
			background: $o-colors-txt;
			color: #fff;
		}
		&.color-error {
			background: $o-colors-color-error;
		}
		&.color-confirmation {
			background: $o-colors-color-confirmation;
		}
		&.color-highlight-yellow {
			background: $o-colors-color-highlight-yellow;
		}
		&.color-highlight-pink {
			background: $o-colors-color-highlight-pink;
		}
		&.color-highlight-green {
			background: $o-colors-color-highlight-green;
		}
		&.color-highlight-blue {
			background: $o-colors-color-highlight-blue;
		}
		&.links {
			background: $o-colors-links;
		}
	}
}