<ul class="swatches">
	<li class="swatch gray-5">$o-colors-gray-5</li>
	<li class="swatch gray-10">$o-colors-gray-10</li>
	<li class="swatch gray-20">$o-colors-gray-20</li>
	<li class="swatch gray-30">$o-colors-gray-30</li>
	<li class="swatch gray-40">$o-colors-gray-40</li>
	<li class="swatch gray-50">$o-colors-gray-50</li>
	<li class="swatch gray-60">$o-colors-gray-60</li>
	<li class="swatch gray-70">$o-colors-gray-70</li>
	<li class="swatch gray-80">$o-colors-gray-80</li>
	<li class="swatch gray-90">$o-colors-gray-90</li>
	<li class="swatch bg">$o-colors-bg</li>
	<li class="swatch cntntBg">$o-colors-cntntBg</li>
	<li class="swatch txt">$o-colors-txt</li>
	<li class="swatch color-error">$o-colors-color-error</li>
	<li class="swatch color-confirmation">$o-colors-color-confirmation</li>
	<li class="swatch color-highlight-yellow">$o-colors-color-highlight-yellow</li>
	<li class="swatch color-highlight-pink">$o-colors-color-highlight-pink</li>
	<li class="swatch color-highlight-green">$o-colors-color-highlight-green</li>
	<li class="swatch color-highlight-blue">$o-colors-color-highlight-blue</li>
	<li class="swatch links">$o-colors-links</li>
</ul>
<div style="clear: both"></div>