////
/// @group o-colors
/// @link http://registry.origami.ft.com/components/o-colors
////

// Grayscale consistencies
$o-colors-gray-5: darken(#ffffff, 5%);
$o-colors-gray-10: darken(#ffffff, 10%);
$o-colors-gray-20: darken(#ffffff, 20%);
$o-colors-gray-30: darken(#ffffff, 30%);
$o-colors-gray-40: darken(#ffffff, 40%);
$o-colors-gray-50: darken(#ffffff, 50%);
$o-colors-gray-60: darken(#ffffff, 60%);
$o-colors-gray-70: darken(#ffffff, 70%);
$o-colors-gray-80: darken(#ffffff, 80%);
$o-colors-gray-90: darken(#ffffff, 90%);

// Color variables copied from UX boilerplate
/* === General === */

$o-colors-bg: #FFF;
$o-colors-cntntBg: #FFF;

/* === Typography === */

$o-colors-txt: #4D4D4D;

/* === Colors === */

$o-colors-color-error: #B94A48;
$o-colors-color-confirmation: #468847;

/* === Highlight === */

$o-colors-color-highlight-yellow: #FFD232; /* Default */
$o-colors-color-highlight-pink: #FC92CF;
$o-colors-color-highlight-green: #55DF49;
$o-colors-color-highlight-blue: #66FFFF;


/* === Links === */

$o-colors-links: #0D65A6; // All states

/* === Tables === */

$o-colors-table-head: #F8F8F8;
$o-colors-table-border: #E8E8E8;
$o-colors-table-head-sortable-light: #F8F8F8;
$o-colors-table-head-sortable-dark: #E0E0E0;
$o-colors-table-head-sorted: #E0E0E0;
$o-colors-table-column-sorted: #F8F8F8;
$o-colors-table-row-selected: #CDEEFD;
$o-colors-table-row-selected-border: #94D1FF;
$o-colors-table-column-sorted-and-row-selected: #D0E1F0;

$o-colors-table-row-odd: #FFF;
$o-colors-table-row-even: #F8F8F8;
$o-colors-table-border: #DDD;
$o-colors-table-row-hover: #EDF5FE;
$o-colors-table-row-expanded: #E0E0E0;
$o-colors-table-row-selected: #D9ECFD;

/* === Student Custom Style === */

$o-colors-cntntBrdr: #999;

/* === Icons === 
   Only affects Font Awesome icons
   Halfling icon color is defined by their image file
   Setting to '$o-colors-txt' matches icon color to text color. */

$o-colors-fa-icon-color: $o-colors-txt; /* Set to same color as body text */


/* === Application Header === */

$o-colors-app-header-background: #2D3237;
$o-colors-app-header-bottom-line: #259DF5;

$o-colors-nav-bg: #efefef;
$o-colors-nav-brdr: #ccc;

/* === Section Colors === */

$o-colors-sec-bg: #FFF;
$o-colors-sec-brdr: #DDD;
$o-colors-sec-hd-bg: #F2F2F2;
$o-colors-sec-title: #333;

$o-colors-orange: #EC8300;
$o-colors-green: #61AE5B;
$o-colors-red: #D83D4D;
$o-colors-alertRed: #D83D4D;
$o-colors-homeBlue: #0089b7;
$o-colors-blue: #236AA6;
$o-colors-lightBlue: #D3EAF2;
$o-colors-pink: #CF307B;
$o-colors-purple: purple;

/* === Buttons === */

/* - Default - */
$o-colors-btn-text: #4D4D4D;
$o-colors-btn-text-shadow: #FFF;
$o-colors-btn-border: #C0C0C0;
$o-colors-btn-light: #FCFCFC;
$o-colors-btn-dark: #F1F1F1;
$o-colors-btn-active: $o-colors-btn-border;

/* - Primary - */
$o-colors-btn-primary-text: #FFF;
$o-colors-btn-primary-text-shadow: #1E6AA4;
$o-colors-btn-primary-border: #0C64A5;
$o-colors-btn-primary-light: #368FD2;
$o-colors-btn-primary-dark: #107ACA;
$o-colors-btn-primary-active: $o-colors-btn-primary-border;

/* - Info - */
$o-colors-btn-info-text: #FFF;
$o-colors-btn-info-text-shadow: #1D868C;
$o-colors-btn-info-border: #13898F;
$o-colors-btn-info-light: #19BAC2;
$o-colors-btn-info-dark: #16A0A6;
$o-colors-btn-info-active: $o-colors-btn-info-border;

/* - Success - */
$o-colors-btn-success-text: #FFF;
$o-colors-btn-success-text-shadow: #19754B;
$o-colors-btn-success-border: #006E4A;
$o-colors-btn-success-light: #3DA85C;
$o-colors-btn-success-dark: #008A5D;
$o-colors-btn-success-active: $o-colors-btn-success-border;

/* - Warning - */
$o-colors-btn-warning-text: #FFF;
$o-colors-btn-warning-text-shadow: #C77231;
$o-colors-btn-warning-border: #D96126;
$o-colors-btn-warning-light: #F59831;
$o-colors-btn-warning-dark: #EE802B;
$o-colors-btn-warning-active: $o-colors-btn-warning-border;

/* - Danger - */
$o-colors-btn-danger-text: #FFF;
$o-colors-btn-danger-text-shadow: #B03436;
$o-colors-btn-danger-border: #BA2D2D;
$o-colors-btn-danger-light: #E25555;
$o-colors-btn-danger-dark: #DC3535;
$o-colors-btn-danger-active: $o-colors-btn-danger-border;

/* - Inverse - */
$o-colors-btn-inverse-text: #FFF;
$o-colors-btn-inverse-text-shadow: #292929;
$o-colors-btn-inverse-border: #292929;
$o-colors-btn-inverse-light: #444;
$o-colors-btn-inverse-dark: #222;
$o-colors-btn-inverse-active: $o-colors-btn-inverse-border;

/* - Disabled -
     All disabled buttons use the same color */
$o-colors-btn-disabled: #C0C0C0;
$o-colors-btn-disabled-text: #686868;

/* - Dropdown Lists */
$o-colors-dropdown-list-active: #107ACA;


/* === Forms === */

$o-colors-placeholer-text: #767676;
$o-colors-input-borders: #D4D4D4;
$o-colors-input-borders-focus: #7BA5CB;
$o-colors-help-text: #4D4D4D;
$o-colors-field-required: #008A12;
$o-colors-field-optional: #767676;
$o-colors-field-valid: #008A12;