////
/// @group o-colors
/// @link http://origami.pearsoned.com/registry/components/o-colors
////

$o-colors-palettes: (
	light: (
		fg: (
			primary: #231f20,
			secondary: #565656
		),
		bg: (
			primary-light: #ffffff,
			primary: #f2f2f2,
			primary-dark: #e6e6e6,
			highlight: #fdec2e
		),
		accent: (
			primary: #a6a8ab,
			secondary: #b3b3b3
		)
	),
	dark: (
		fg: (
			primary: #ffffff,
			secondary: #aeaeae
		),
		bg: (
			primary-light: #424242,
			primary: #333333,
			primary-dark: #000000
		),
		accent: (
			primary: #3f3f3f,
			secondary: #545454
		)
	)
);
